/* Variables CSS del proyecto */
:root {
  --primary-color: #aa0000;
  --secondary-color: #d70d0d;
  --accent-color: #3498db;
  --text-light: #ecf0f1;
  --text-dark: #333;
  --bg-light: #f4f4f4;
  --bg-white: #fff;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image: url('https://wallpapers.com/images/high/white-carrara-marble-p3apltr0gehv3bh9.webp');
  background-size: cover;
  background-position: center;
  font-family: "Gruppo", sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main.main-content {
  padding: 60px;
  transition: box-shadow 0.3s, background 0.3s;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.form-container {
  padding: 40px;
  background-color: var(--bg-white);
  border-radius: 0px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  transition: box-shadow 0.3s, background 0.3s;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: var(--primary-color);
  font-size: 1.5em;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 15px;
  font-weight: bold;
  color: var(--text-dark);
  font-size: 1rem;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border-color: var(--accent-color);
}

button[type="submit"] {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-light);
  background: linear-gradient(360deg, #aa0000 0%, #ff0000 60%);
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: "Gruppo", sans-serif;
}

button[type="submit"]:hover {
  background: linear-gradient(360deg, #ff0000 0%, #aa0000 60%);
  transform: scale(1.02);
}

p {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

p a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}